body{
    background: #A1FFCE;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 1%;
    margin-bottom: 1%;
    padding: 1%;
}
.container h1{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table{
    text-align: center;
}

table th{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
tbody img{
    border-radius: 50px;
}
